extends /layouts/basic-layout
block content
    .container#wrap(ng-app="imsBasic", ng-controller="ResetCtrl")
        include /includes/thin-header
        .row
            .well.col-sm-8.col-sm-offset-2
                h2.text-center.text-info Set Your Credentials
                br
                form.form-horizontal(name= "resetForm", novalidate, autocomplete="off", action="/resetPassword", method='POST',unsaved-changes-warning)
                    p.text-center.text-danger= message
                    .form-group
                        label.col-sm-3.control-label Set Your Name
                        .col-sm-5
                            input.form-control(type="text", name='name', value=name)
                    .form-group
                        label.col-sm-3.control-label Set Password
                        .col-sm-5
                            input.form-control(type="password", placeholder="minimum of 8 characters", name='password',
                            ng-model='user.password',ng-required="true", ng-minlength="8",ng-change="checkResetPassword()")
                        span.help-block
                            p.text-danger(ng-show="resetForm.password.$error.required && resetForm.password.$dirty")
                                | Please select a password
                            p.text-danger(ng-show="resetForm.password.$error.minlength && resetForm.password.$dirty")
                                | Need to be atleast 8 characters
                    .form-group
                        label.col-sm-3.control-label Re-enter Password
                        .col-sm-5
                            input.form-control(type="password", name='retype_password',
                            ng-model='user.retype_password',  ng-required="true", ng-change="checkResetPassword()")
                        span.help-block
                            p.text-danger(ng-show="resetForm.retype_password.$error.dontmatch && resetForm.retype_password.$dirty")
                                | Passwords do not match
                    .form-group
                        label.col-sm-3.control-label Phone
                        .col-sm-5
                            input.form-control(type="text", name='details.phone',value=details.phone)
                    .form-group
                        label.col-sm-3.control-label City
                        .col-sm-5
                            input.form-control(type="text", name='details.city',value=details.city)
                    .form-group
                        .col-sm-5.col-sm-offset-3
                            input(type='hidden', name="token", value=token)
                            input(type='hidden', name="email", value=email)
                            button.btn.btn-primary(type='submit',ng-disabled="resetForm.$invalid") Submit
        #push
    include /includes/footer