<!-- myplayer object contains all the info on Player
    myplayer = {
        "cpuSerialNumber": player cpu number ,
        "installation": installation  ,
        "secret":   group name to which player is registred,
        "orientation":  display orientation
        "resolution":  display resolution ,
        "nwinfo": {
            "LINK": network status,
            "DHCP": network status,
            "PING": network status,
            "DNS":  network status,
            "NETSTATUS": network status
        },
        "version": player software version,
        "name": player name,
        "TZ": time zone to which the player is set
    }
 -->
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="../piSignagePro/app/views/css/custom-bootstrap.min.css">
    </head>
    <body style="height:100%;width: 100%;background-color: #FFFF">
        <div class="panel panel-primary" style="height: 100%; width:100%">
            <div class="panel-heading ">
                <h3 class="text-center">Welcome!</h3>
            </div>
            <div class="alert alert-info text-center" style="margin-bottom: 0;">
                <h3 class=><small class="text-info text-muted" style="font-size:30px"> Player ID <br></small><strong><%= playerId %></strong> </h3>
            </div>
            <% if(myplayer.myIpAddress) { %>
                <!--<div class="alert alert-primary"  style="font-size: 30px;height: 100%;width:100%">-->
                <div class="row" style="font-size:30px">
                    <div class="col-xs-6 text-right text-muted"> installation</div>
                    <div class="col-xs-6"><b><%= myplayer.installation%></b></div>
                  </div>
                  <div class="row" style="font-size:30px">
                    <div class="text-muted col-xs-6 text-right "> orientation</div>
                    <div><b class="col-xs-6"><%= myplayer.orientation%></b></div>
                  </div>
                  <div class="row" style="font-size:30px">
                    <div class="text-muted col-xs-6 text-right ">resolution</div>
                    <div><b class="col-xs-6" ><%= myplayer.resolution%></b></div>
                  </div>
                  <div class="row" style="font-size:30px">
                    <div class="text-muted col-xs-6 text-right ">timezone</div>
                    <div><b class="col-xs-6"><%= myplayer.TZ%></b></div>
                  </div>
                </div>
            <% } else { %>
                    <div class="alert alert-danger" style="font-size: 20px;height: 100%;width:100%">
                        There seems to be no Network Connection (Ethernet or wifi). Please visit https://help.pisignage.com for debugging information.<br>
                        Connect Keyboard and press "Ctrl+n" OR "F6" key to configure the device/network.
                        Alternatively, You can use your Smartphone to configure the device as follows.
                        <ol>
                            <li>Connect to player to mobile using a USB cable.</li>
                            <li>Enable USB tethering on your mobile</li>
                            <li>In the mobile Browser, type http://192.168.42.10:8000</li>
                        </ol>
                        <br>
                    </div>
            <% } %>
            <div class="panel-footer" style="position: absolute;bottom: 0;left: 0;width: 100%;font-size:15px">
                <div class="row clearfix">
                    <div class="col-xs-3 col-md-3"><span class="text-muted">Eth Link:</span><b><%= myplayer.nwinfo.LINK%></b></div>
                    <div class="col-xs-3 col-md-3"><span class="text-muted">DNS:</span><b><%= myplayer.nwinfo.DNS%></b></div>
                    <div class="col-xs-3 col-md-3"><span class="text-muted">PING:</span><b><%= myplayer.nwinfo.PING%></b></div>
                    <div class="col-xs-3 col-md-3"><span class="text-muted">DHCP:</span><b><%= myplayer.nwinfo.DHCP%> </b></div>
                </div>
            </div>
        </div>
    </body>
</html>
